@import '../../../helpers.scss';

$base-delay: 0.5s;

.month-chart-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 2.5rem 0;
    gap: 2.5rem;
    max-width: 600px;

    @media screen and (min-width: 800px) {
      margin-top: 4rem;
      gap: 4rem;
      max-height: 700px;
    }
    .title {
      font-size: 1.5rem;
      text-align: center;
      font-weight: 700;
      opacity: 0;
      transform: translateY(100%);

      animation: fadeInUp 0.8s ease-out forwards $base-delay;
      span {
        font-weight: 900;
        text-transform: uppercase;
        color: $yellow;
        font-size: 2.5rem;
      }
    }

    .month-chart {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 95%;
      margin-top: 0.5rem;
      opacity: 0;
      transform: translateY(10%);
      animation: fadeInUp 0.5s ease-out forwards 1.1s;

      .chart-title {
        position: absolute;
        text-align: center;
        font-size: 0.7rem;
        font-weight: 700;
        top: -1.25rem;
        left: 0;
        right: 0;
        color: $tertiary-text;
      }

      .content {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        width: 100%;
        .single-line {
          display: flex;
          align-items: center;
          height: 18px;
          gap: 0.5rem;
          .label {
            display: flex;
            justify-content: flex-end;
            font-size: 0.7rem;
            color: $secondary-text;
            width: 1rem;
          }
          .line-container {
            display: flex;
            align-items: flex-end;
            width: 0;
            height: 100%;
            animation: expandLineWidth 1s ease-out forwards 1.6s;
            .line {
              background: $tertiary;
              width: 100%;
              height: 100%;
              border-radius: 5px;
            }
          }
        }
      }
      .x-axis {
        display: flex;
        flex-direction: row-reverse;

        justify-content: space-between;
        width: calc(100% - 1.5rem);
        border-top: 1px solid $secondary-text;
        padding-top: 0.5rem;
        margin-top: 0.5rem;
        height: 1.5rem;

        .point-container {
          display: flex;
          // justify-content: center;/
          // align-items: center;
          position: relative;
          .tick {
            position: absolute;
            top: -0.5rem;
            right: 0;
            width: 1px;
            height: 5px;
            background: $primary;
          }
          .point {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            font-size: 0.7rem;
            color: $secondary-text;
          }
        }
      }
    }

    .stat {
      text-align: center;
      font-size: 0.9rem;
      color: $secondary-text;
      font-weight: 700;
      text-transform: capitalize;
      line-height: 1.25rem;
      opacity: 0;
      transform: translateY(100%);

      animation: fadeInUp 0.8s ease-out forwards $base-delay + 1s;
      span {
        font-weight: 800;
        color: $yellow;
      }
    }
  }
}

.month-chart-page.clicked {
  .content-container {
    .title {
      opacity: 1;
      transform: translate(0);
      animation: fadeOutUpText 0.5s ease-in forwards 0.2s;
    }
    .month-chart {
      opacity: 1;
      transform: translate(0);
      animation: fadeOutUpElement 0.5s ease-in forwards 0.4s;
    }
    .stat {
      opacity: 1;
      transform: translate(0);
      animation: fadeOutUpText 0.5s ease-in forwards 0.6s;
    }
  }
  @keyframes fadeOutUpText {
    to {
      opacity: 0;
      transform: translateY(-100%);
    }
  }
  @keyframes fadeOutUpElement {
    to {
      opacity: 0;
      transform: translateY(-10%);
    }
  }
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes expandLineWidth {
    to {
      width: 100%;
    }
  }
}
