@import '../../../helpers.scss';

$base-delay: 0.2s;

.top-stores-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: $darker-background;
  overflow: hidden;
  touch-action: none;

  .initial-page {
    position: absolute;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: inherit;
    overflow: hidden;

    animation: removeElement 0.01s linear forwards $base-delay + 3.5s;

    .initial-title {
      position: absolute;
      top: 50%;
      transform: translateY(-10%);
      line-height: 5rem;
      opacity: 0;

      width: 90%;
      max-width: 600px;
      text-align: center;
      font-weight: 700;
      font-size: 3rem;
      animation: fadeInUpInitialTitle 0.8s ease-out forwards $base-delay,
        scaleText 4s linear forwards $base-delay + 1s;

      span.year {
        color: $secondary;
        font-weight: 800;
      }

      .dot {
        opacity: 0;
        animation: fadeIn 0.1s linear forwards;
      }

      .dot:nth-child(2) {
        animation-delay: $base-delay + 0.7s;
      }

      .dot:nth-child(3) {
        animation-delay: $base-delay + 1.2s;
      }
      .dot:nth-child(4) {
        animation-delay: $base-delay + 1.7s;
      }
    }
  }
  .reveal {
    position: absolute;
    z-index: 6;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw; // Set the width to full viewport width
    height: 100vh; // Set the height to full viewport height
    overflow: hidden;
    animation: removeElement 0.01s forwards $base-delay + 4.2s;
    overflow: hidden;
    .b2,
    .b1 {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 6;
    }
    .b1 {
      transform: translate(50%, 50%);
      background: linear-gradient(
        to bottom right,
        rgba(0, 0, 0, 0) 50%,
        $secondary 50%
      );
      animation: slideInDiagonalBottomRight 1.2s ease-in-out forwards
        $base-delay + 3s;
    }
    .b2 {
      transform: translate(-50%, -50%);
      background: linear-gradient(
        to top left,
        rgba(0, 0, 0, 0) 50%,
        $secondary 50%
      );
      animation: slideInDiagonalTopLeft 1.2s ease-in-out forwards $base-delay +
        3s;
    }
  }

  .second-page {
    position: absolute;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100%;
    width: 100%;
    $secondary: #e71801;
    overflow: hidden;
    background: $darker-background;
    box-shadow: $card-box-shadow;
    overflow: hidden;

    .background-circle {
      z-index: 2;
      position: absolute;
      width: 800px;
      img {
        height: 100%;
        width: 100%;
        animation: rotate infinite 25s linear;
      }
    }

    .store-name {
      z-index: 3;
      color: $secondary;
      text-transform: uppercase;
      font-weight: 900;
      max-width: 500px;
      text-align: center;
      text-shadow: 2px 2px 4px darken($secondary, 20%),
        4px 4px 6px darken($secondary, 30%), 6px 6px 8px darken($secondary, 40%);
    }
    .times-delivered {
      z-index: 3;
      font-size: 1.1rem;
      font-weight: 700;
      span {
        font-weight: 800;
        color: $tertiary;
      }
    }

    @media screen and (max-width: 500px) {
      .background-circle {
        width: 700px;
      }
    }
  }
  .second-page.clicked {
  }

  .background-color {
    // position: absolute;
    z-index: 4;
    height: 100%;
    width: 100%;
    background: $yellow;
    transform: translateY(100%);
    animation: secondPageExit 1s cubic-bezier(1, -0.01, 0.83, 0.7) forwards;
    overflow: hidden;
  }
}
@keyframes slideInDiagonalBottomRight {
  0% {
    transform: translate(50%, 50%);
  }
  20% {
    transform: translate(0%, 0%);
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }
  70% {
    transform: translate(0%, 0%);
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }
  100% {
    display: none;
    transform: translate(50%, 50%);
  }
}
@keyframes slideInDiagonalTopLeft {
  0% {
    transform: translate(-50%, -50%);
  }
  20% {
    transform: translate(0%, 0%);
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }
  70% {
    transform: translate(0%, 0%);
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }
  100% {
    display: none;
    transform: translate(-50%, -50%);
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1; /* Fade in to full opacity */
    transform: translateY(0); /* Move up to the original position */
  }
}
@keyframes fadeInUpInitialTitle {
  to {
    opacity: 1; /* Fade in to full opacity */
    transform: translateY(-50%); /* Move up to the original position */
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes initialPageExit {
  to {
    transform: translateX(-150%);
  }
}
@keyframes secondPageExit {
  to {
    transform: translateY(0%);
  }
}

@keyframes removeElement {
  to {
    display: none;
    z-index: -1000;
  }
}

@keyframes scaleText {
  to {
    font-size: 3.1rem;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
