@import '../helpers.scss';

.home-page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 2rem;
  padding-bottom: 4rem;
  min-height: 600px;
  box-sizing: border-box;
  overflow-x: hidden;
  .content {
    .header {
      h1 {
        color: $secondary;
        font-weight: 900;
        font-size: 3rem;
        text-align: center;
      }
      p {
        color: $tertiary-text;
        font-weight: 600;
        text-align: center;
        font-size: 0.9rem;
      }
    }

    .options {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      width: 90%;
      margin: 0 auto;
      margin-top: 5rem;
      .top-btns {
        display: flex;
        justify-content: center;
        gap: 2rem;
        width: 100%;
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: $border-radius;
        text-decoration: none;
      }
      .primary {
        outline: none;
        border: 1px solid $primary;
        background: none;
        color: $primary;
        height: 52px;
        width: 200px;

        transition: all 0.3s ease-in-out;
        &:hover {
          color: $primary;
          background: $tertiary;
          border-color: $tertiary;
        }
      }

      .example {
        color: $tertiary-text;
        text-decoration: underline;
        text-underline-offset: 0.15rem;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: $tertiary;
        }
      }
    }
  }
  @media screen and (max-width: 650px) {
    .content {
      .header {
        h1 {
          font-size: 2.5rem;
          padding-bottom: 0.25rem;
        }
        p {
          font-size: 0.85rem;
        }
      }
      .options {
        gap: 1rem;
        margin-top: 3rem;
        .top-btns {
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 1rem;
          a {
            width: 90%;
            max-width: 300px;
          }
        }
      }
    }
  }
  footer {
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 0 auto;
    section {
      font-size: 0.7rem;
      color: $tertiary-background;
      font-weight: 600;
      text-align: center;
      a {
        color: $tertiary-text;
      }
    }
    section.top {
      a {
        color: $tertiary-text;
      }
    }
    section.middle {
      display: flex;
      gap: 1rem;
    }
  }
}
