@import '../helpers.scss';

.home-page {
  .header {
    h1 {
      color: $secondary;
      font-weight: 900;
      font-size: 3rem;
      text-align: center;
    }
    p {
      color: $tertiary-text;
      font-weight: 600;
      text-align: center;
      font-size: 0.9rem;
    }
  }

  .options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 90%;
    margin: 0 auto;
    margin-top: 4rem;
    .top-btns {
      display: flex;
      justify-content: center;
      gap: 2rem;
      width: 100%;
    }
    button.primary {
      outline: none;
      border: 1px solid $primary;
      background: none;
      color: $primary;
      height: 52px;
      width: 200px;
    }

    button.example {
      color: $tertiary-text;
      text-decoration: underline;
      text-underline-offset: 0.15rem;
    }
  }
}
