@import '../../helpers.scss';

.share-page {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  box-sizing: border-box;
  height: 100%;
  .share-info {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 2rem;
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
    .header {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
    p {
      color: $secondary-text;
      line-height: 1.25rem;
    }
    .links {
      display: flex;
      flex-direction: column;
      justify-content: center;

      gap: 1rem;
      padding-top: 1rem;
      .main-links {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 1rem;
      }

      @media screen and (max-width: 500px) {
        flex-direction: column;

        .main-links {
          flex-direction: column;
        }
        a {
          width: 100%;
        }
      }

      .sub-links {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        gap: 3rem;
        width: 100%;
        .icon {
          height: 28px;
          width: 28px;
        }
        a {
          width: fit-content;
        }
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: $primary;
      }
      a.buy-me-a-coffee {
        background: $tertiary;
      }
    }
  }
}
