@import '../../helpers.scss';

.share-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  max-width: 90%;
  gap: 4rem;
  .share-info {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 2rem;
    margin: 0 auto;
    margin-top: 3rem;
    height: fit-content;
    max-width: 500px;

    .header {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
    p {
      color: $secondary-text;
      line-height: 1.25rem;
    }
    .links {
      display: flex;
      justify-content: center;

      gap: 1rem;
      padding-top: 1rem;

      .main-links {
        width: 100%;
        display: flex;
        gap: 1rem;
      }
      .sub-links {
        display: flex;
        justify-content: flex-start;
        margin: 0 auto;
        gap: 1rem;
        width: 100%;
        .icon {
          height: 28px;
          width: 28px;
        }
        a {
          width: fit-content;
        }
      }

      @media screen and (max-width: 500px) {
        flex-direction: column;

        .main-links {
          flex-direction: column;
        }
        a {
          width: 100%;
        }
      }
      @media screen and (max-width: 900px) {
        .main-links {
          justify-content: center;
        }
        .sub-links {
          justify-content: center;
          gap: 3rem;
        }
      }
      @media screen and (max-width: 1100px) {
        flex-direction: column;
        gap: 1.5rem;
        .main-links {
          gap: 1.5rem;
        }
        .sub-links {
          gap: 2rem;
        }
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: $primary;
      }
      a.buy-me-a-coffee {
        background: $tertiary;
      }
    }
  }
  @media screen and (max-width: 900px) {
    display: block;
    margin-top: 4rem;
    gap: 2rem;

    .share-info {
      max-width: 425px;
    }
  }
}
