@import '../../../helpers.scss';

$base-delay: 0.5s;

.charts-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 90%;

    .title {
      font-weight: 700;
      color: $tertiary-text;
      font-size: 1.5rem;

      text-align: center;
      margin-top: 3rem;
      margin-bottom: 3.5rem;

      opacity: 0;
      transform: translateY(100%);

      animation: fadeInUp 0.8s ease-out forwards $base-delay;
      span {
        text-transform: uppercase;
        font-weight: 900;
        color: $secondary;
      }
    }
    .charts-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-bottom: 1rem;
      max-height: 500px;

      gap: 2rem;
    }
  }
}
.charts-page.clicked {
  .content-container {
    .title {
      opacity: 0;
      transform: translateY(0);
      animation: fadeOutUpText 0.5s ease-in forwards 0.2s;
    }
    .month-chart-container {
      opacity: 0;
      transform: translateY(0);
      animation: fadeOutUpElement 0.5s ease-in forwards 0.4s;
    }
    .time-segment-chart-container {
      opacity: 0;
      transform: translateY(0);
      animation: fadeOutUpElement 0.5s ease-in forwards 0.6s;
    }
  }
}

@keyframes fadeOutUpText {
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}
@keyframes fadeOutUpElement {
  to {
    opacity: 0;
    transform: translateY(-10%);
  }
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
